body{
    margin: 0;
    padding: 0;
}  
main{
    margin: 0;
    padding: 0;
}  
.services {
    display: flex;
    flex-direction: column;     
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
    align-content: center;
    justify-content: center;
    background-color: rgba(255, 102, 102, 0.48);
    border-style: solid;
    border-color: #ff004c;
    border-radius: 10%;
}
.titulo-principal{
    width: 100%;
    text-align: center;
    color: #6600ff;
}
.titulo-secundario{
    text-align: center;
    color: #ff004c;
}
.services-group {
    display: flex;
    flex-direction: row;
    color: #6600ff; 
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
}
.services-group p {
    font-size: 18px;
    color: black;
    width: 300px;
    text-align: center;
    margin: auto;
}
.services-group p a {
    color: #6600ff;
}
/* unvisited link */
.services-group p a:link {
    color: #6600ff;
}  
/* visited link */
.services-group p a:visited {
    color: #6600ff;
}
/* mouse over link */
.services-group p a:hover {
    color: #ff004c;
}
/* selected link */
.services-group p a:active {
    color: #ff6666;
} 
.services-group__web {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-content: space-around;
}
.services-group__e-commerce {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-content: space-around;
}
.services-group__seo {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-content: space-around;
}
.paleta {
    color: #6600ff; 
    color: #ff3300;
    color: #ff004c;
    color: #ff6666;
    color: #ffb300;
    color: #ffff33;
    color: #00ccff;
}
